<body>
<header>
<%= render "shared/header" %>
</header>
<main>
<%= render "shared/form" %>

  </main>

  <div class="lists">
<%= link_to '戻る', root_path, class: "list-back" %>
<%= link_to '消去',medicine_path(@medicine.id), method: :delete, class:"list-deleat" %>



</div>
<footer>
<%= render "shared/footer" %>
</footer>
</body>
