<%= render "shared/header" %>
<div class='lists-content-login'>
  <% if user_signed_in?%>
    <%= link_to '記録する', new_medicine_path, class: "create_content"  %>
    <%end%>
    <div class="col-md-8">
      <%= month_calendar events: @medicines do |date, medicines| %>
     <div class="more_list">
      <%= date.day %>
      <% medicines.each do |medicine| %>
      <%= link_to medicine.start_time.strftime( "%H:%M" ), medicine %>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= render "shared/footer" %>
