<p id="notice"><%= notice %></p>
<%= link_to '記録する', new_medicine_path %> 
<br>
<br>
<div class="col-md-8">
<%= month_calendar events: @medicines do |date, medicines| %>
<div class="more_list">
  <%= date.day %>
<% medicines.each do |medicine| %>
<div>
  <%= link_to medicine.start_time.strftime( "%H:%M" ), medicine %>
  <% end %>
</div>
<% end %>
</div>
</div>
</div>
