<%= render "shared/header" %>

<div class="show">

<div class="medicine-name">
  <strong>薬の名前</strong>
  <%= @medicine.name %>
  </div>

<div class="medicine-number">
    <strong>錠数</strong>
    <%= @medicine.number %>
    </div>

<div class="medicine-time">
  <strong>飲んだ時間</strong>
  <%= @medicine.start_time.strftime("%H:%M") %>
</div>


<div class="medicine-memo">
  <strong>メモ</strong>
  <%= @medicine.memo %>
  </div>


<div class="medicine-image">
    <%= image_tag @medicine.image.variant(resize: '200x200'), class: 'medicine-image' if @medicine.image.attached? %>
</div>

<div class="lists">
<%= link_to '編集', edit_medicine_path(@medicine), class: "list-edit" %>
</div>


</div>
<%= render "shared/footer" %>