<body>
<header>
<%= render "shared/header" %>
</header>
<main>
<%= form_with(model: @medicinelist, local: true) do |form| %>
<div class="titele">

 <div class="lists">
 
    <div class="list-names">薬の名前</div>
    <%= form.text_field :name,class:"list-name" %>
    <div class="list-numbers">錠数</div>
    <%= form.text_field :number,class:"list-number" %>
    <div class="form-memos">メモ</div>
    <%= form.text_field :memo, class:"list-memo" %>
        <div class="list-numbers">タイミング</div>
    <%= form.collection_select(:timing_id, Timing.all, :id, :name, {}, {class:"timing-select"}) %>
    
<div class="submit-list">
<input type="submit" value="記録する" class="send">
<%= link_to '戻る', new_medicinelist_path, class: "list-back" %>
<%= link_to '消去', medicinelist_path(@medicinelist.id), method: :delete, class:"list-deleat" %>

</div>
</div>
<%end%>
</main>
<footer>
<%= render "shared/footer" %>
</footer>
</body>