<body>
<header>
<%= render "shared/header" %>
</header>
<main>

<%= form_with(model: @medicinelist, local: true) do |form| %>
 <div class="lists">
    <div class="list-names">薬の名前</div>
    <%= form.text_field :name,class:"list-name" %>
    <div class="list-numbers">錠数</div>
    <%= form.text_field :number,class:"list-number" %>
    <%= form.collection_select(:timing_id, Timing.all, :id, :name, {}, {class:"timing-select"}) %>

<div class="submit-list">
<input type="submit" value="記録する" class="send-list">
</div>





<div class= "timing-lists">

<div class="medicinelistmorning">
<div class="timing-mornings">
<div class="timing-list">朝</div>
</div>
<% @medicinelistmorning.each do |medicinelist| %>
<ul class="medicinelists">
  <li><%= medicinelist.name %>:<%= medicinelist.number %>錠</li>
  </ul>
<% end %>
</div>

<div class="timing-afternoons">
<div class="timing-list">昼</div>
</div>
<% @medicinelistafternoon.each do |medicinelist| %>
<ul class="medicinelists">
  <li><%= medicinelist.name %>:<%= medicinelist.number %>錠</li>
  </ul>
<% end %>

<div class="timing-evenings">
<div class="timing-list">夕</div>
</div>
<% @medicinelistevening.each do |medicinelist| %>
 <ul class="medicinelists">
  <li><%= medicinelist.name %>:<%= medicinelist.number %>錠</li>
</ul>
<% end %>

<div class="timing-beforesleeps">
<div class="timing-list">寝</div>
</div>
<% @medicinelistbeforesleep.each do |medicinelist| %>
 <ul class="medicinelists">
  <li><%= medicinelist.name %>:<%= medicinelist.number %>錠</li>
</ul>
<% end %>

</div>
</div>

<%end%>
</main>
<footer>
<%= render "shared/footer" %>
</footer>
</body>